 *{
        font-family:Arial, Helvetica, sans-serif;
    }
 p {
        color:blue;
        font-family:'Times New Roman', Times, serif;
    }

    a {
        color: gray;
    }
    th {
        color: green;
    }
    .green {
        color:greenyellow;
    }
    #capacidade {
        color:olive;
        font-weight:200;
    }
    #faz {
        color:olivedrab;
    }