 *{
        font-family:Arial, Helvetica, sans-serif;
    }
 p {
        color:blue;
        font-family:'Times New Roman', Times, serif;
    }

    a {
        color: gray;
    }
    th {
        color: green;
    }
    div td {
        color:greenyellow;
    }